EMAIL_ADDRESS=email_address_here
EMAIL_PASSWORD=email_password_here
RECIPIENT_EMAIL=recipient_email_here

TWILIO_ACCOUNT_SID=some_account_sid_here
TWILIO_AUTH_TOKEN=some_auth_token_here
TWILIO_FROM_NUMBER=twilio_from_number_here
TWILIO_TO_NUMBER=twilio_to_number_here